<ul class="nav justify-content-center grey lighten-4 py-4" style="margin-bottom:1rem;">
    <li class="nav-item">
        <h4>@Titulo</h4>
    </li>
</ul>
@code {
    [Parameter]
    public string Titulo { get; set; }
}
