
@page "/x"

<div class="container-fluid">
    <div class="row" style="margin-top:5em;">
        <div class="col">
            <TotalProcessadoKPI />
        </div>
        <div class="col">
            <TotalValidadas />
        </div>
        <div class="col">
            <TotalAuditadasKPI />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <TopFornecedoresKPI />
        </div>
    </div>
</div>


@code {

}
