@page "/nfeXmlUpload"

@inject BLL.NFE.Interfaces.INFeXmlService xmlNfeService;
@inject NavigationManager navigationService;
@inject BLL.Infra.Interface.IParametroService parametroService;

<style>
    span.ui-fileupload-choose.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left {
        height: 50px;
        background-color: @cssButtonUpload;
        color: @cssButtonUploadColor;
    }
</style>

<NavbarTitulo Titulo="Importação de XML"></NavbarTitulo>
<div class="container">
    <RadzenUpload Multiple="true"
                  Progress="@(async (args) =>  await OnProgress(args, ""))"
                  Url="upload/multiple"
                  ChooseText="@textButtonUpload" Style="width:100%;" Auto="true"
                  Complete="UploadFinish">
    </RadzenUpload>


    @if (!string.IsNullOrEmpty(Error))
    {
        <Div class="alert alert-danger">
            @Error
        </Div>
    }
    @if (sucesso)
    {
        <br />
        <div class="alert alert-success">
            <b>Sucesso!</b> Arquivo carregado com sucesso.
        </div>
    }
    @if (IsRunning.Valor.Equals("S"))
    {
        <br />
        <div class="alert alert-warning">
            <b>Processando</b> Arquivos em processamento.
        </div>
    }

</div>



@code {

    [Parameter]
    public EventCallback<bool> UploadFinishCallBack { get; set; }



    private int progress;
    private string info;
    private string textButtonUpload = "";
    private string cssButtonUpload = "";
    private string cssButtonUploadColor = "white";
    private string Error = "";
    private bool sucesso = false;
    private Parametro IsRunning = new Parametro();

    protected override void OnInitialized()
    {

        base.OnInitialized();

        textButtonUpload = "Solte os arquivos aqui";
        cssButtonUpload = "dodgerblue";
        IsRunning = new Parametro()
            {
                Valor = "N"
            };
    }




    private async Task OnProgress(dynamic args, string t)
    {

        if ((int)args.Progress >= 100)
        {

            var IsRunning = await parametroService.ObterParametro("IsRunning");

            sucesso = true;



            textButtonUpload = "Arquivos carregados com sucesso.";
            cssButtonUpload = "#ffcf00";
            cssButtonUploadColor = "black";
            this.StateHasChanged();

        }
    }

    private async Task UploadFinish()
    {
        try
        {
            await xmlNfeService.ProcessarArquivos();
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            this.StateHasChanged();
            return;
        }



        textButtonUpload = "Solte os arquivos aqui";
        cssButtonUpload = "dodgerblue";
        cssButtonUploadColor = "white";

        await UploadFinishCallBack.InvokeAsync(true);
        navigationService.NavigateTo("/painelImportacaoXML");

    }

}
