@page "/painelAuditoria"

@using Models.NFe;


<!--Main-->


<NavbarTitulo Titulo="Auditoria"></NavbarTitulo>

<nav class="navbar navbar-expand navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li> <MatButton @onclick="AbrirModalValidacao" Raised="true">Validar Xmls</MatButton></li>
            <li>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" style="margin-left:10px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        +Opções
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <NfeDownloadList></NfeDownloadList>                      
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
<br />

<div class="container-fluid">
    <div class="row">
        <NFeXmlList Reload="@reloadList"
                    ArquivosCarregados="@AtualizaListaArquivosCallBack"
                    ListarApenasNaoValidados="true" ListarApenasValidados="false">

        </NFeXmlList>
    </div>
</div>

<NFeXmlValidar AbrirModal="@modalValidacaoAberto" DialogCallBack="CallBackModalValidacao" IsUploadCompleted="CallBackValidacaoFinalizou"></NFeXmlValidar>

@code {
    private bool modalValidacaoAberto = false;
    private IList<NFeFiles> arquivos;
    private bool reloadList = false;


    private void AbrirModalValidacao()
    {
        this.modalValidacaoAberto = true;
    }

    private void CallBackValidacaoFinalizou(bool IsFinished)
    {

        reloadList = IsFinished;
    }

    private void CallBackModalValidacao(bool isOpen)
    {
        if (!isOpen)
            this.modalValidacaoAberto = false;
    }

    private void AtualizaListaArquivosCallBack(IList<NFeFiles> files)
    {
        this.arquivos = files;
    }
}
