@inherits EFISCO.Pages.Dashboards.Kpis.Components.NfeKPIBase

<RadzenCard>
    <div class="row">
        <div class="col">
            <h3>Validados </h3>
        </div>
        <div class="col" style="color:#32ab32">
            <h3>@TotalValidadas</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
           R$ @TotalValidadasValor.ToString("C2")
        </div>
    </div>
</RadzenCard>

@code {

}
