@inherits EFISCO.Pages.Dashboards.Kpis.Components.NfeKPIBase

<RadzenCard>
    <div class="row">
        <div class="col">
            <h3>Processados</h3>
        </div>
        <div class="col">
            <h3> @TotalAuditadas</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            @TotalAuditadasValor.ToString("C2")
        </div>
    </div>
</RadzenCard>
@code {

}
